* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html, body {
	width: 100vw;
	min-height: 100vh;
	height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}
body {
	/*fondoclaro:  #b9a404;*/
    background: linear-gradient(#8F7F00, #8F7F00);
	display: flex;
	flex-direction: column;
}
.grid {
	width: inherit;
	height: fit-content;
	border: 2px solid whitesmoke;
	border-radius: 4px;
	background-color: #555;
	display: grid;
	/* grid-template-rows: repeat(24, 20px); */
	/* grid-template-columns: repeat(24, 20px); */
}
.controls {
	width: inherit;
	height: fit-content;
	/* border: 2px solid green; */
	display: flex;
	justify-content: space-around;
}
.buttonsContainer {
	height: fit-content;
	max-width: 250px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	background-color: transparent;
	margin-top: 1rem;
	row-gap: 1rem;
}
.buttons {
	width: fit-content;
	height: fit-content;
	border-radius: 4px;
	font-size: 16px;
	font-weight: bold;
	color: #222;
	/* margin-top: -3rem; */
	padding: 0.4rem 0.8rem;
	margin-left: 0.3rem;
	background-color: #aaa;
	cursor: pointer;
}
.buttons:hover {
	transform: scale(1.2);
}
.buttonsContainer >span {
	width: fit-content;
	height: fit-content;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 500;
	color: #222;
	margin-left: 0.3rem;
}
textarea {
	width: 80%;
	height: 50px;
	border-radius: 2px;
	outline: none;
	margin-left: 0.3rem;
}
.gridTile {
	width: 100%;
	height: 100%;
	border: 1px dotted #ff7;
}
.graphContainer {
	width: fit-content;
	height: fit-content;
	/* background-image: url('./tiles-suelo-metal.png'); */
	display: grid;
	/* grid-template-rows: repeat(10, 32px); */
	/* grid-template-columns: repeat(14, 32px); */
}
.imgInTile {
	width: 100%;
	height: 100%;
	border: 1px dotted lightyellow;
}
